services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "8000:8000"
    env_file:
      - backend/.env
    volumes:
      - ./data/docs_bancarios:/app/data/docs_bancarios:ro
    restart: always

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    # image: matope1/hipotecassist-frontend:latest
    container_name: frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
    restart: always

  # qdrant:
  #   image: qdrant/qdrant
  #   container_name: qdrant
  #   ports:
  #     - "6333:6333"
  #   volumes:
  #     - ./qdrant_data:/qdrant/storage
  #   restart: always
