services:
  backend:
    image: matope1/hipotecassist-backend:ci
    container_name: backend
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    restart: always

  frontend:
    image: matope1/hipotecassist-frontend:ci
    container_name: frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
    restart: always
