name: Integration

on:
  pull_request:
    branches: [main, develop]
  push:
    branches: [main, develop]   # <- añadir temporalmente
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          pip install pytest

      - name: Run tests (if any)
        run: |
          if [ -d tests ]; then
            pytest -q tests
          else
            echo "No se encontró carpeta tests/, nada que ejecutar."
          fi
